<div class="form">
    <div class="form-title">Login</div>
    <div class="form-fields">
        <div class="form-field">
            <div class="form-fields-label">Username</div>
            <input input class="form-fields-input" type="text" [(ngModel)]="username">
        </div>
        <div class="form-field">
            <div class="form-fields-label">Password</div>
            <input class="form-fields-input" type="password" [(ngModel)]="password">
        </div>
    </div>
    <div class="form-buttons">
        <input value='Login' type='button' (click)="onLogin()">
    </div>
</div>